.actionMain {
  width:100%;
  display:flex;
 }

 .actionButton{
   width:100%;
   display:flex;
   justify-content: center;
   align-items: center;
   margin:2rem;
 }

 .card{
   max-height: 70vh;
   height:65vh;

 }
 .card-body{
   max-height: 50vh;
   overflow: auto;
 }
 .card-body::-webkit-scrollbar {
   width: 0.5em;
 }

 .card-body::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgb(153, 211, 238);
 }

 .card-body::-webkit-scrollbar-thumb {
   background-color: #77afe7;
   outline: 1px solid #2a8ef1;
   border:2px solid #2a8ef1;
   border-radius:5em
 }
 .card-footer {
   width:100%;
  display:flex;
  justify-content: center;
  align-items: center;

 }
 .card-footer button {
   width:50%;
   margin:auto 1rem;
 }

 ul{
   height: 50vh;
   list-style-type: none;
   margin: 0;
   padding: 0 0 1px 0;
 }
 li {
   margin:0.2rem;
   padding:0.3rem 1rem;
 }
 li:hover {
  background-color: #cde5f1;
}
.selected {
   background-color: #c1e6f8;
 }
 .selected:hover {
  background-color: #a9dcf5;
}

.form-check-input {
  margin-right: 0.2rem;
}


#div1, #div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

