<div class="row">
  <!--  List 2 -->

<div class="col-sm-6">
  <div class="card">
    <div class="card-header">List 1</div>
    <div class="card-body">
      <ul (drop)="drop($event,1)"
        (dragover)="allowDrop($event,1)" [class.dropZone]="dragVal===2 && !dropped">

        <li
          *ngFor="let file of unselectedFiles"
          (click)="togglePendingSelection( file )"
          [class.selected]="pendingSelection[ file.id ]"
          [draggable]="true" (dragstart)="drag($event,1)">

          <div class="details">
              <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="pendingSelection[ file.id ]" [checked]='pendingSelection[ file.id ]' aria-label="..."> {{ file.fileName }}

          </div>

        </li>
      </ul>
    </div>
    <div class="card-footer">
      <button [disabled] = "!unselectedFiles.length" class="btn btn-primary" (click)="moveAllFiles('add')"> => </button>
      <button class="btn btn-primary" (click)="addToselectedFiles()"> -> </button>
    </div>
  </div>
</div>

<!--  List 2 -->
<div class="col-sm-6">
  <div class="card">
    <div class="card-header">List 2</div>
    <div class="card-body">
      <ul (drop)="drop($event,2)"
          (dragover)="allowDrop($event,2)" [class.dropZone]="dragVal===1 && !dropped">
        <li
          *ngFor="let file of selectedFiles"
          (click)="togglePendingSelection( file )"
          [class.selected]="pendingSelection[ file.id ]"
          [draggable]="true" (dragstart)="drag($event,2)">
          <div class="details">
              <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="pendingSelection[ file.id ]" [checked]='pendingSelection[ file.id ]' aria-label="..."> {{ file.fileName }}

          </div>

        </li>
      </ul>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="removeFromselectedFiles()"> <- </button>
      <button [disabled] = "!selectedFiles.length" class="btn btn-danger" (click)="moveAllFiles('remove')"> <= </button>
    </div>
  </div>
</div>
</div>
